/*
     _ +-------------------------------------------+ _
    /o)|     Project    ::   HTML5 Starter         |(o\
   / / |     Author     ::   ImAmUdDiN             | \ \
  ( (_ |  _  Author URL ::   about.me/imamcu07  _  | _) )
 ((\ \)+-/o)-----------------------------------(o\-+(/ /))
 (\\\ \_/ /                                     \ \_/ ///)
  \      /                 __                    \      /
   \____/                 |  |                    \____/
   |    | +++++++++++++++++++++++++++++++++++++++ |    |
********************************************************/


/*==================================================================
                    Master Styles
========================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #808080;
}

/*===========================================================================================
                Common Styles & Class 
============================================================================================*/




/*===========================================================================================
                
=============================================================================================*/



/*===========================================================================================
                Footer
=============================================================================================*/
footer {
    margin: 0 auto;
    text-align: center;
}
